@inherits ComponentBase
@using Microsoft.Extensions.Logging
@using System.Net.Mail
@using Takerman.Portfolio.Models
@namespace Takerman.Portfolio.Components

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>If you want to contact us, drop us a message down bellow.</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>bul. Iztochen, Plovdiv, Bulgaria</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>contact@takerman.net</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+447383721742</p>
              </div>

              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2958.134073389703!2d24.760884815327426!3d42.14741767920169!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14acd10ab6558be7%3A0x8b8db75788fb7b4c!2s862%20101%2C%204000%20Tsentar%2C%20Plovdiv!5e0!3m2!1sen!2sbg!4v1662315803570!5m2!1sen!2sbg"
                frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 align-items-stretch">
            <EditForm Model="@message" OnValidSubmit="@HandleSubmit" class="php-email-form">
              <DataAnnotationsValidator />
                <ValidationSummary />
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label for="name">Your Name</label>
                      <InputText @bind-Value="message.Name" class="form-control" id="name" required />
                    </div>
                    <div class="form-group col-md-6">
                      <label for="name">Your Email</label>
                      <InputText @bind-Value="message.Email" class="form-control" name="email" id="email" required />
                    </div>
                  <div class="form-group">
                    <label for="name">Subject</label>
                    <InputText @bind-Value="message.Subject" class="form-control" name="subject" id="subject" />
                  </div>
                  <div class="form-group">
                    <label for="name">Message</label>
                    <InputTextArea @bind-Value="message.Message" class="form-control" name="message" id="message" rows="10" />
                  </div>
                  <div class="my-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>
                  </div>
                  <div class="text-center"><button type="submit">Send Message</button></div>
              </div>
            </EditForm> 
        </div>

      </div>
      </div>
    </section><!-- End Contact Section -->

@code {
    ContactMessage message = new ContactMessage();

    private void HandleSubmit()
    {
      var mail = new MailMessage();
      mail.To.Add("contact@takerman.net");
      mail.From = new MailAddress(message.Email, message.Name);
      mail.Subject = message.Subject;
      mail.Body = message.Message;
      mail.IsBodyHtml = true;

      var smtp = new SmtpClient
      {
        Port = 587,
        UseDefaultCredentials = false,
        EnableSsl = true,
        Host = "mail.gmail.com",
        DeliveryMethod = SmtpDeliveryMethod.Network,
        Credentials = new System.Net.NetworkCredential("tivanov@takerman.net", "iftdskryilizhvcb")
      };

      smtp.Send(mail);
    }
}