<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row  justify-content-center">
                <div class="col-lg-6">
                    <h3>Takerman</h3>
                    <p>Just a Software Development Company</p>
                </div>
            </div>
            <div class="row footer-newsletter justify-content-center">
                <div class="col-lg-6">
                    <form action="/Home/Subscribe" method="post">
                        <input type="email" name="email" placeholder="Enter your Email"><input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
            <div class="social-links">
                <a href="https://github.com/TakermanLTD" class="github"><i class="bx bxl-github"></i></a>
                <a href="https://linkedin.com/company/takerman-ltd" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                <a href="skype:live:contact_44094" class="google-plus"><i class="bx bxl-skype"></i></a>
            </div>
        </div>
    </div>
    <div class="container footer-bottom clearfix">
        <div class="copyright">
            &copy; Copyright <strong><a href="/">Takerman</a></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Developed by <a href="https://tanyoivanov.net">Tanyo Ivanov</a>
        </div>
    </div>
</footer>