@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;

<section id="featured-services" class="featured-services">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="icon-box">
                    <div class="icon"><i class="icofont-computer"></i></div>
                    <h4 class="title"><a href="">Software Deelopment</a></h4>
                    <p class="description">Custom software development</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                <div class="icon-box">
                    <div class="icon"><i class="icofont-image"></i></div>
                    <h4 class="title"><a href="">People Mentoring</a></h4>
                    <p class="description">Teaching people at our Online school</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="icofont-tasks-alt"></i></div>
                    <h4 class="title"><a href="">CMS Deployment</a></h4>
                    <p class="description">CMS Deployment and customisation</p>
                </div>
            </div>
        </div>
    </div>
</section>
