@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;

<section id="team" class="team section-bg">
    <div class="container">
        <div class="section-title">
            <span>Team</span>
            <h2>Team</h2>
            <p>That's our team</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <a target="_blank" href="https://tanyoivanov.net">
                        <img src="assets/img/team/team-1.jpg" alt="">
                    </a>
                    <h4>Tanyo Ivanov</h4>
                    <span>Software Developer</span>
                    <p>
                        A .NET Developer with some years of experience and really interesting website.
                    </p>
                    <div class="social">
                        <a target="_blank" href="https://tanyoivanov.net"><i class="icofont-globe"></i></a>
                        <a target="_blank" href="https://twitter.com/TanyoIvanov"><i class="icofont-twitter"></i></a>
                        <a target="_blank" href="https://www.facebook.com/dev.tanyoivanov"><i class="icofont-facebook"></i></a>
                        <a target="_blank" href="https://www.instagram.com/dev.tanyoivanov"><i class="icofont-instagram"></i></a>
                        <a target="_blank" href="https://www.linkedin.com/in/tanyo-ivanov"><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <!--<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="assets/img/team/team-2.jpg" alt="">
                <h4>Sarah Jhinson</h4>
                <span>Product Manager</span>
                <p>
                  Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
                </p>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="assets/img/team/team-3.jpg" alt="">
                <h4>William Anderson</h4>
                <span>CTO</span>
                <p>
                  Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                </p>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>-->
        </div>
    </div>
</section>